extends layout

block content
    br
    h3 Post Add
    form(method="POST", action="/list/add", enctype="multipart/form-data")
        #form-group
            label Title:
            input.form-control(name="title", type="text", required)
        #form-group
            label Upload Video:
            input.form-control(type="file", name="video", accept="video/*", required)
        br
        input.btn.btn-primary.float-right(type="submit", value="Submit")
