extends layout

block content
    br
    h3 Edit Post
    form(method="POST", action="/list/edit/" + item._id, enctype="multipart/form-data")
        #form-group
            label Title:
            input.form-control(name="title", type="text", value=item.title, required)

        #form-group
            label Current Video:
            if item.videoPath
                video(width="320", height="240", controls)
                    source(src=item.videoPath, type="video/mp4")
            else
                p No video uploaded yet.

        #form-group
            label Upload New Video (optional):
            input.form-control(type="file", name="video", accept="video/*")

        #form-group
            label Description (optional):
            textarea.form-control(name="body", rows="10")= item.body

        br
        input.btn.btn-primary.float-right(type="submit", value="Save")
