extends layout

block content
    h1 Signup - Step 2
    form(method="POST", action="/users/register-step2")
        #form-group
            label Password:
            input.form-control(name="password", type="password", required, placeholder="Choose your password")
        br
        input.btn.btn-primary.text-center(type="submit", value="Continue")
