extends layout

block content
    h1 Signup - Step 3
    form(method="POST", action="/users/register-step3")
        #form-group
            label Full Name:
            input.form-control(name="fullname", type="text", required, placeholder="Enter your full name")
        #form-group
            label Username:
            input.form-control(name="username", type="text", required, placeholder="Choose your username")
        br
        input.btn.btn-primary.text-center(type="submit", value="Complete Signup")
