extends layout

block content
    h1 Signup - Step 1
    form(method="POST", action="/users/register-step1")
        #form-group
            label Email:
            input.form-control(name="email", type="email", required, placeholder="Enter your email")
        br
        input.btn.btn-primary.text-center(type="submit", value="Continue")
